
 /* purple1:#281154;
purple2: #270082;
purple3: #1b0058;
red: #dc0000;
body:#f9f6ff; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    line-height: 1.4;
    scroll-behavior: smooth;
}
section{
    scroll-margin: 50px;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding: 20px 0;
}
.logo{
    font-weight: 600;
    font-size: 32px;
    color: white;
}
header{
    background-color: #270082;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 5px 5px 5px rgb(0, 0, 0 0.2);
}
nav ul {
    display: flex;
   gap: 20px;
}
nav ul li:hover{
    border-bottom: 2px solid white;
    transition: 0.3s;

}
nav ul li{
    border-bottom: 2px solid transparent;
    transition: 0.3s;
}
.hero-section{
    background-image: url(images/hero_image.png);
    height: 100vh;
    display: grid;
    color: white;
    place-items: center;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero-section .hero-container{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.hero-section h1{
    font-size: 96px;
}
.hero-section h3{
    font-size: 32px;
}
.music-section{
    padding:50px 0;
    background-color: #281154 ;
}
.music-section .music-container{
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    color: white;
}
.ipad-icon{
    position: relative;
    top: 400px;
    margin-top: -400px;
}
button{
    padding: 10px 15px;
    border: none;
    transition: 0.3s ease-in-out;
}
button:hover{
    opacity: 0.8;
    transition: 0.3s ease-in-out;
}
.primary-btn{
    background-color: red;
    color: white;
}
.secondary-btn{
    background-color: #281154;
    color: white;
}
.about-section{
    padding-top: 500px;
    display: grid;
    place-items: center;
    gap: 50px;
    text-align: center;
    margin-bottom: 50px;
}
.video-section{
    background-image: url(images/video.png);
    min-height: 800px;
    display: grid;
    place-items: center;
    text-align: center;
    color: white;
}
.video-section .container{
    flex-direction: column;
    gap: 30px;
    margin-top: -200px;
}
.gift-section{
    display: flex;
    justify-content: center;
    margin: 100px 0px;
    gap: 50px;
}
.gift-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer-upper {
    background-color: #1b0058;
    padding: 20px;
    color: white;
}
.footer-upper h4{
    padding-bottom: 10px;
    border-bottom: 2px solid white;
    margin-bottom: 10px;
}
.footer-lower{
    background-color: #270082;
    padding: 20px;
    display: flex;
    justify-content: center;
    color: white;
}
.footer-upper .container{
    display: flex;
    justify-content: space-between;
    color: white;

}
.gift-section{
    scroll-margin: 180px;
}


